<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Control Panel</title>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<nav class="navbar navbar-default navbar-static-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">
							Dashboard
						</a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
                            {% if user.is_authenticated %}
                             <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                           {% else %}
                             <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                           {% endif %}
							</ul>
						</div>
					</div>
				</nav>

    <div class="container-fluid">
        <div class="col col-md-3">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                      <h2>Login</h2>
                      <form method="post" action="{% url 'login' %}">
                          {% csrf_token %}
                          <div>
                              <tr>
                                  <td>{{ form.username.label_tag }}</td>
                                  <td>{{ form.username }}</td>
                              </tr>
                          </div>
                          <div>
                            <tr>
                                <td>{{ form.password.label_tag }}</td>
                                <td>{{ form.password }}</td>
                            </tr>
                          </div>
                          <div>
                              <span class="input-group-btn">
                                  <input type="submit" value="login" class="btn btn-primary"/>
                                  <input type="hidden" name="next" value="{{ next }}" class="btn btn-primary"/>
                              </span>
                          </div>
                      </form>
                  </h4>
              </div>
            </div>
        </div>
        </div>
    </div>
</html>
{% block content %}

{% if form.errors %}
    {{ form.errors }}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% endif %}
{% endif %}

{% endblock %}
